@import './variables';
@import 'reset';
@import './mixins';

body {
  padding: 50px;
  background-color: aquamarine;
}

.counter_value{
  display: inline-block;
  padding: 10px 20px;
  width: 50px;
  border: 1px solid black;
  border-radius: 4px;
}

.counter_button{
  width: 40px;
  border: 0.5px solid black;
  border-radius: 4px;
  outline: none;
  &:hover{
    background-color: black;
    color: white;
    border: 0.5px solid grey;
    &:active{
      transform: scale(0.9);
    }
  }
}

.todo {
  padding: 30px;
  border: 1px solid black;
}

.todo-controls {
  display: flex;
  margin-bottom: 10px;
}

.todo-btn-add {
  margin-left: 10px;
  padding: 5px 10px;
}
