@import './variables';
@import 'reset';
@import './mixins';

@keyframes item-fade-in-from-right {
  0% {
    opacity: 0;
    visibility: hidden;
    transform: translate(30%, 0);
  }

  100% {
    opacity: 0.5;
    visibility: visible;
    transform: translate(0, 0);
  }
}

body {
  padding: 50px;
  background-color: aquamarine;
}

.counter_value{
  display: inline-block;
  padding: 10px 20px;
  width: 50px;
  border: 1px solid black;
  border-radius: 4px;
}

.counter_button{
  width: 40px;
  margin: 0 3px;
  border: 0.5px solid black;
  border-radius: 4px;
  outline: none;
  &:hover{
    background-color: black;
    color: white;
    border: 0.5px solid grey;
    &:active{
      transform: scale(0.9);
    }
  }
}

.todo {
  width: 400px;
  padding: 30px;
  border: 1px solid black;
  background: transparent;
}

.todo--input-empty {
  background: #ff8c80;
}

.todo-controls {
  display: flex;
  margin-bottom: 10px;
}

.todo-btn-add {
  margin-left: 10px;
  padding: 5px 10px;
}

.todo__list-item {
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
}

.todo__item-preview {
  opacity: 0.5;
  animation: item-fade-in-from-right 500ms;
}

.todo__list-item-btn {
  margin-left: 20px;
  padding: 2px 5px;
  background-color: cadetblue;
  color: black;
}
